<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6a078e2c-04d4-476d-9e21-93ecac4c5205/resourceGroups/echohotel/providers/Microsoft.Web/sites/echohotel</ResourceId>
    <ResourceGroup>echohotel</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://echohotel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>echohotel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>echohotel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$echohotel</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EchoHotel" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:echohotel.database.windows.net,1433;Initial Catalog=echohotel;Persist Security Info=False;User ID=echohotelAdmin;Password=Senha@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:echohotel.database.windows.net,1433;Initial Catalog=echohotel;Persist Security Info=False;User ID=echohotelAdmin;Password=Senha@123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:echohotel.database.windows.net,1433;Initial Catalog=echohotel;Persist Security Info=False;User ID=echohotelAdmin;Password=Senha@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EchoHotel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:echohotel.database.windows.net,1433;Initial Catalog=echohotel;Persist Security Info=False;User ID=echohotelAdmin;Password=Senha@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EchoHotel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:echohotel.database.windows.net,1433;Initial Catalog=echohotel;Persist Security Info=False;User ID=echohotelAdmin;Password=Senha@123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EchoHotel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:echohotel.database.windows.net,1433;Initial Catalog=echohotel;Persist Security Info=False;User ID=echohotelAdmin;Password=Senha@123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EchoHotel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:echohotel.database.windows.net,1433;Initial Catalog=echohotel;Persist Security Info=False;User ID=echohotelAdmin;Password=Senha@123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>